[submodule "online-resources/documentation/themes/hugo-theme-learn"]
	path = online-resources/documentation/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn
[submodule "online-resources/webpage/themes/hugoplate"]
	path = online-resources/webpage/themes/hugoplate
	url = https://github.com/zeon-studio/hugoplate
