[submodule "online-resources/webpage/themes/hugoplate"]
	path = online-resources/webpage/themes/hugoplate
	url = https://github.com/matcornic/hugo-theme-learn
[submodule "online-resources/documentation/themes/learn"]
	path = online-resources/documentation/themes/learn
	url = https://github.com/matcornic/hugo-theme-learn
