.edit-section {
    width: 100%;

    .MuiDivider-root {
        width: 100%;
        margin: 20px 0 5px 0;
    }

    .MuiFormControl-root {
        margin: 10px 0;
    }
}

#edit-plant button {
    width: 100%;
    margin: 20px 0 5px 0;
    padding: 15px;
}
