@media only screen and (max-width: 1357px) {
    #outer-flex, #inner-flex {
      flex-direction: column;
      overflow: "auto";
      min-width: none;
    }

    #inner-flex {
        width: 90%;
        display: "table";
        table-layout: "fixed";
        margin: "0 auto";
        min-width: none;

        table {
            min-width: initial;
        }
    }

    #stats {
        margin-top: 20px;
    }
  }