.plant-detail-section {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .plant-detail-entry {
        display: flex;
        align-items: baseline;
        gap: 5px;
        justify-content: space-between;
    }
}