.setting-section {
    display: flex;
    flex-direction: column;

    &>* {

        &:not(:last-child) {
            border-bottom: 1px solid rgb(172, 172, 172);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}