<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">


<!-- SEE https://checkstyle.sourceforge.io/checks.html -->

<module name="Checker">
    <property name="severity" value="error"/>
    <module name="BeforeExecutionExclusionFileFilter">
        <!--<property username="fileNamePattern" value=""/>-->
    </module>

    <module name="LineLength">
        <property name="fileExtensions" value="java"/>
        <property name="max" value="180"/>
    </module>

    <module name="FileTabCharacter">
        <property name="fileExtensions" value="java"/>
    </module>

    <module name="SuppressWarningsFilter"/>



    <module name="TreeWalker">
        <module name="SuppressWarningsHolder"/>

        <!-- BLOCKS -->
        <module name="AvoidNestedBlocks">
            <property name="severity" value="warning"/>
        </module>

        <module name="EmptyBlock"/>

        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore"/>
        </module>

        <module name="LeftCurly"/>

        <module name="NeedBraces"/>

        <module name="RightCurly"/>




        <!-- CODE -->
        <module name="DeclarationOrder"/>

        <module name="DefaultComesLast">
            <property name="skipIfLastAndSharedWithCase" value="true"/>
        </module>

        <module name="EmptyStatement"/>

        <module name="EqualsAvoidNull"/>

        <module name="EqualsHashCode"/>

        <module name="ExplicitInitialization"/>

        <module name="FallThrough"/>

        <module name="HiddenField">
            <!--<property username="ignoreConstructorParameter" value="true"/>
            <property username="ignoreSetter" value="true"/>-->
            <property name="tokens" value="VARIABLE_DEF"/>
        </module>

        <module name="IllegalCatch">
            <property name="severity" value="warning"/>
        </module>

        <module name="IllegalInstantiation"/>

        <module name="IllegalThrows">
            <property name="severity" value="warning"/>
        </module>

        <module name="IllegalType"/>

        <module name="InnerAssignment"/>

        <module name="MagicNumber">
            <property name="ignoreFieldDeclaration" value="true"/>
            <property name="ignoreAnnotation" value="true"/>
            <property name="severity" value="warning"/>
        </module>

        <!--<module username="MissingCtor">
            <property username="severity" value="warning"/>
        </module>-->

        <module name="MissingSwitchDefault"/>

        <module name="ModifiedControlVariable"/>

        <module name="MultipleVariableDeclarations"/>

        <module name="NestedForDepth"/>

        <module name="NestedIfDepth"/>

        <module name="NestedTryDepth"/>

        <module name="NoArrayTrailingComma"/>

        <module name="OneStatementPerLine">
            <property name="treatTryResourcesAsStatement" value="true"/>
        </module>

        <module name="PackageDeclaration"/>

        <module name="ParameterAssignment"/>

        <module name="RequireThis"/>

        <module name="ReturnCount">
            <property name="max" value="3"/>
            <property name="maxForVoid" value="3"/>
        </module>

        <module name="SimplifyBooleanExpression"/>

        <module name="SimplifyBooleanReturn"/>

        <module name="StringLiteralEquality"/>

        <module name="SuperClone"/>

        <module name="UnnecessaryParentheses"/>

        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>

        <module name="UnnecessarySemicolonInEnumeration"/>

        <module name="UnnecessarySemicolonInTryWithResources"/>

        <module name="VariableDeclarationUsageDistance"/>



        <!-- IMPORTS -->
        <module name="AvoidStarImport"/>

        <module name="RedundantImport"/>

        <module name="UnusedImports"/>

        <module name="AvoidStaticImport"/>




        <!-- JAVADOC -->
        <module name="AtclauseOrder"/>

        <module name="InvalidJavadocPosition"/>

        <module name="JavadocContentLocationCheck"/>

        <module name="JavadocParagraph"/>

        <module name="JavadocStyle"/>

        <module name="JavadocTagContinuationIndentation"/>

        <module name="NonEmptyAtclauseDescription"/>

        <module name="SingleLineJavadoc"/>




        <!-- METRICS -->
        <module name="BooleanExpressionComplexity"/>

        <module name="ClassDataAbstractionCoupling"/>




        <!-- MISCELLANEOUS -->
        <module name="ArrayTypeStyle"/>

        <module name="CommentsIndentation"/>

        <!--<module name="Indentation"/>-->

        <module name="TodoComment">
            <property name="format" value="(TODO)|(FIXME)"/>
            <property name="severity" value="warning"/>
        </module>

        <module name="UpperEll"/>

        <module name="ModifierOrder"/>

        <module name="RedundantModifier"/>




        <!-- NAMING CONVENTION -->
        <module name="AbbreviationAsWordInName">
            <property name="allowedAbbreviationLength" value="1"/>
            <property name="allowedAbbreviations" value="XML,URL,API,CSV,DTO,ID,OTP"/>
        </module>

        <module name="AbstractClassName"/>

        <module name="CatchParameterName"/>

        <module name="ClassTypeParameterName"/>

        <module name="ConstantName"/>

        <!--<module username="LocalFinalVariableName">
            <property username="format" value="^[A-Z][A-Z0-9_]*[A-Z0-9]$"/>
        </module>-->

        <module name="LocalVariableName"/>

        <module name="MethodName"/>

        <module name="MethodTypeParameterName"/>

        <module name="PackageName"/>

        <module name="ParameterName"/>

        <module name="StaticVariableName"/>

        <module name="TypeName"/>




        <!-- SIZE -->
        <module name="AnonInnerLength"/>

        <module name="MethodLength">
            <property name="max" value="60"/>
        </module>

        <module name="ParameterNumber">
            <property name="max" value="5"/>
            <property name="ignoreOverriddenMethods" value="true"/>
        </module>




        <!-- WHITE SPACE -->
        <module name="EmptyForInitializerPad"/>

        <module name="EmptyForIteratorPad"/>

        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
            <property name="allowMultipleEmptyLinesInsideClassMembers" value="false"/>
        </module>

        <module name="GenericWhitespace"/>

        <module name="MethodParamPad"/>

        <module name="NoLineWrap"/>

        <module name="NoWhitespaceBefore"/>

        <module name="ParenPad"/>

        <!--<module username="SeparatorWrap">-->

        <module name="SingleSpaceSeparator"/>

        <module name="TypecastParenPad"/>

        <module name="WhitespaceAfter"/>

        <module name="WhitespaceAround"/>
    </module>


</module>