<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminder: Time to Care</title>
</head>
<body>
<p>Hey <span th:text="${username}"></span>,</p>
<p>Just a friendly reminder about your plant, <span th:text="${plantName}"></span>. It's time to give it a little TLC!
</p>
<p><strong>Plant name:</strong> <span th:text="${plantName}"></span></p>
<p><strong>Action to take:</strong> <span th:text="${action}"></span></p>
<p>Giving your plant the attention it needs ensures it stays healthy and happy. Plus, it's always a joy to see them
    thrive!</p>
<p>If you've already taken care of it, great job! Log the action inside the app. If not, no worries, just a little nudge
    to help you out.</p>
<p>Thanks for being such a caring plant parent!</p>

<p>Happy planting! 🌱</p>
<p>Best regards,<br>The Plant-It Team</p>
</body>
</html>
