<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Plant-It</title>
</head>
<body>
<p>Dear <span th:text="${username}"></span>,</p>
<p>Thank you for choosing Plant-It! We're thrilled to have you join our community of plant enthusiasts.</p>
<p>To complete your registration and gain access to all the features of Plant-It, please use the following OTP (One-Time
    Password) code.</p>
<p><strong>OTP Code:</strong> <span th:text="${otpCode}"></span></p>
<p>Please enter this code in the designated field within the Plant-It app to verify your account. This code will expire
    after a short period for security reasons, so please use it promptly.</p>
<p>If you did not request this OTP code or believe you received this email in error, please disregard it.</p>
<p>If you have any questions or need assistance, feel free to reach out to our support team at <a
        th:href="'mailto:' + ${supportEmail}" th:text="${supportEmail}"></a>. We're here to help!</p>

<p>Happy planting! 🌱</p>
<p>Best regards,<br>The Plant-It Team</p>
</body>
</html>
