name: Automated Tests

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.2.1
        with:
          java-version: 20

      - name: Build
        run: mvn clean install -DskipTests -Dcheckstyle.skip
        working-directory: ./backend

      - name: Verify the checkstyle
        run: mvn checkstyle:check
        working-directory: ./backend

      - name: Run the tests
        run: mvn test
        working-directory: ./backend

  frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Frontend
        uses: actions/checkout@v2

      - name: Setup
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.19.2

      - name: Download Dependencies
        run: flutter pub get
        working-directory: ./frontend

      - name: Analyze
        run: flutter analyze
        working-directory: ./frontend

      - name: Run the tests
        run: flutter test
        working-directory: ./frontend
