@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.7em;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: rgb(62 60 59);
  background: linear-gradient(to bottom right, rgba(230, 255, 230, 1), rgba(255, 255, 255, 0.8), rgb(243, 244, 246));
  background-color: rgb(243, 244, 246);
  min-height: 100vh;
  padding: 0;
  margin: 0;

  p {
    font-size: 1.25rem;
  }

  >div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

navbar {
  $height: 4rem;
  display: flex;
  flex-direction: row;
  height: $height;
  justify-content: space-between;
  padding: 10px 30px;
  width: 95%;

  img {
    height: 2.5rem;
    border-radius: 5px;
  }

  >div,>a {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  >a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 1.5rem;
  }

  #navbar-links>div>a {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    text-decoration: none;
    color: inherit;
    fill: white;
    font-weight: 400;

    >img {
      max-height: 1.5rem;
      color: white;
    }

    >p {
      font-size: 1.1rem;
    }
  }
}

.big-space {
  margin-top: 80px;
}

.small-space {
  margin-top: 25px;
}

.button {
  border: 1px solid black;
  border-radius: 50px;
  padding: 17px 35px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(50 48 47);
  width: 11rem;

  p {
    margin: 0;
  }

  img {
    max-height: 20px;
  }

  &.main-button {
    background-color: rgb(50 48 47);
    color: white;
  }

  &:hover {
    opacity: .9;

    &:not(.main-button) {
      background-color: rgb(252, 252, 252);
    }
  }
}

#hero {
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 60%;
    margin-bottom: 5px;

    span {
      color: green;
    }
  }

  p {
    width: 60%;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;
  }
}

#cta {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#works-on {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(243 244 246);
  padding: 10px 10px;
  border-radius: 50px;
  width: 24rem;
  max-width: 90%;

  img {
    height: 21px;
  }

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

#banner-img-wrapper>img {
  width: 85%;
  height: auto;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#why {
  display: flex;
  flex-direction: row;
  justify-content: center;

  >div {
    width: 30%;
    text-align: left;
  }
}

#features {
  background-color: rgb(239, 243, 239);
  padding: 15px 20px;

  img {
    max-height: 80vh;
    max-width: 100%;
  }

  >p:first-of-type {
    width: 85%;
    margin-top: 0;
  }

  .side {
    display: flex;
    align-items: center;

    >* {
      width: 50%;
    }

    >div:first-child {
      padding: 0 0 0 15%;
      text-align: left;

      p {
        width: 80%;
      }
    }

    &.reverse {
      flex-direction: row-reverse;
    }

    &:not(:first-of-type) img {
      border-radius: 20px;
      box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.7);
    }
  }

  hr {
    width: 90%;
    margin: 40px 0;
    opacity: .1;
  }
}

footer {
  margin: 50px 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;

  #end-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    >* {
      width: 11rem;

      img {
        width: 100%;
      }
    }
  }

  >div:nth-of-type(2) {
    font-size: .875rem;
    opacity: .7;
  }

}

.download-device, .download-p {
  width: 70%;
  text-align: center;
  margin: 10px 0;
}

.download-a {
  color: inherit;
}



@media only screen and (max-width: 670px) {
  #body>div {
    text-align: left;
  }

  #hero h1,
  #hero p {
    width: 90%;
  }

  #cta,
  #why {
    flex-direction: column;
  }

  #why>div {
    width: 80%;
  }

  #features {
    width: 100vw;
    padding: 0;

    .side {
      flex-direction: column !important;

      >* {
        width: auto;
      }
    }
  }

  footer {
    #end-buttons {
      flex-direction: column;
    }
  }
}